@page "/courses"


@inject HttpClient HttpClient
<PageTitle>Counter</PageTitle>
<h1>Kurser på WCE</h1>

<p>Lägg till kurs</p>

<p>
    <input @bind="Course.CourseNumber"/>
</p>

<p>
    <input @bind="Course.CourseName"/>
</p>
<p>
    <input @bind="Course.CourseDescription"/>
</p>
<p>
    <input @bind="Course.CourseLength"/>
</p>
<p>
    <input @bind="Course.CourseLevel"/>
</p>
<p>
    <input @bind="Course.CourseStatus"/>
</p>
<button class="btn btn-primary" @onclick="AddCourseAsync">Lägg till kurs</button>

<p>Tillgängliga kurser:</p>

@if (_courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Hero Name</th>
            <th>Powers</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var course in _courses)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.CourseNumber</td>
                <td>@course.CourseName</td>
                <td>@course.CourseDescription</td>
                <td>@course.CourseLength</td>
                <td>@course.CourseLevel</td>
                <td>@course.CourseStatus</td>
            </tr>
        }
        </tbody>
    </table>
}
@code {

    public Course Course { get; set; } = new();

    private ICollection<Course>? _courses;

    protected override async Task OnInitializedAsync()
    {
        var result = await HttpClient.GetFromJsonAsync<ICollection<Course>>("api/Course");
        _courses = result;
    }

        protected async Task AddCourseAsync()
    {
        
    }
}


